body {
    font-family: Figtree;
    background-color: #F4D04E;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#card {
    background-color: #FFFFFF;
    border: 1px solid #111111;
    border-radius: 20px;
    max-width: min-content;
    box-shadow: 8px 8px #111111;
    padding: 16px;
}

#post-image {
    border-radius: 10px;
}


.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }